{% extends 'index.html' %}
{% block title %}DataBase{% endblock %}
{% block content %}

    <div class="container-fluid" style="margin-top: 1rem;margin-bottom: 5rem;">
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                            src="/static/s.jpg"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
    
                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;margin: 0 auto;">About Our Application</h4>
                        <!-- Text -->
                        <p class="card-text" style="text-align:center"></br>The words “Malicious URL” coin the word “Malware” and the meaning remains the same. Malicious URL refers to any malicious program that causes harm to a computer system or network. These attacks a computer or network in the form of viruses, worms, trojans, spyware, adware or rootkits.
                        </br>
                            Their mission is often targeted at accomplishing unlawful tasks such as robbing protected data, deleting confidential documents or add software without the user consent.
                            A simple and short URL can cause a lot of damage. The potential harm is so great that malicious links are considered one of the biggest threats to the digital world, especially when we talk about attacks and threats that arrive by email.
                        </br> 
                            To define it, a malicious URL is a link created with the purpose of promoting scams, attacks and frauds. By clicking on an infected URL, you can download a malware or a Trojan that can take your devices, or you can be persuaded to provide sensitive information on a fake website.
                            The most common scams with malicious URLs involve spam and phishing. Phishing is a type of fraud used by criminals who try to deceive victims by impersonating well-known and trusted organizations or people.
                            It means that you may receive a malicious URL within an email from a friend if his email account has been compromised or if the criminal is trying to deceive you by spoofing your friend’s name and address.
                            Malicious links may also be hidden in supposedly safe download links and may spread quickly through the sharing of files and messages in sharing networks.
                            Remember as well  that, just like with emails, websites can also be compromised, which can lead users to click on malicious URLs and provide sensitive information directly to fraudsters.
                        </br>    
                            Blocking malicious URLs:
                        </br>
                            There are several engines and ways to block malicious URLs. In the case of email networks, for example, you can get a Secure Email Gateway. In the case of browsers, you can install protection plugins.
                            The most effective and common protection techniques are based on filters that use URL blacklists, comparing domains and hosts. Other techniques involve machine learning, URL rewriting, Sandboxing and real-time click detection.</br></br></p>
                        <!-- Button -->
    
                    </div>
    
                </div>
                <!-- Card -->
            </div>
        </div>
        <div class="row" style="margin-bottom: 1rem;">
            <a href="/" class="btn btn-primary" style="margin: 0 auto;display: block;">Home</a>
        </div>
    </div>

{% endblock %}    