{% extends 'index.html' %}
{% block title %}DataBase{% endblock %}
{% block content %}
</br></br>
<div class="container-fluid" style="margin-top: 2px;">
  <div class="row">
    <div class="col-md-12">
      <form action="{% url 'search' %}" method="GET">
        <input type="text" id="search" name="search" class="form-control mb-4" placeholder="Search" autocomplete="off">
        <button type="submit" class="btn btn-primary" style="display: block;margin: 0 auto;">Search</button>
      </form>
    </div>
  </div>
  <div class="row" style="margin-bottom: 7rem;margin-top: 1rem;">
    <div class="col-md-6 " style="margin: 0 auto;">
      {% for url in urls %}
      <!-- Card -->
      <div class="card" style="margin-top: 1rem;">
        <div class="card-body">

          <!-- Title -->
          <h6 class="card-title" style="text-align: center;"><a href="{{url.link}}" >{{url.link}}</a></h6>
          <!-- Text -->
          <p class="card-text">Result :  {{url.result}}</p>
          <!-- Button -->
          <p class="card-text">Address :  {{url.add}}</p>

          <p class="card-text">Organization :  {{url.org}}</p>

          <p class="card-text">State :  {{url.state}}</p>

          <p class="card-text">City :  {{url.city}}</p>

          <p class="card-text">Country :  {{url.country}}</p>

          <p class="card-text">Domain :  {{url.dom}}</p>

          <p class="card-text">Emails :  {{url.emails}}</p>

          <p class="card-text">Rank :  {{url.rank}}</p>

          <p class="card-text">Registrar :  {{url.registrar}}</p>

          <p class="card-text">Created at :  {{url.created_at}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock %}