{% extends 'index.html' %}
{% block title %}PPT page{% endblock %}
{% block content %}
<div class="container-fluid" style="margin-bottom: 20rem;">

    <div class="row">
        <div class="col-md-6" style="margin: 1rem auto 0 auto;">
            <iframe style="margin:0 auto;display: block;"
                src="https://onedrive.live.com/embed?cid=4D07B0791BC1AD88&amp;resid=4D07B0791BC1AD88%21527&amp;authkey=AKL4v_kbdf2f554&amp;em=2&amp;wdAr=1.7777777777777777"
                 frameborder="2" width="800px" height="565px">This is an embedded <a target="_blank"
                    href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank"
                    href="https://office.com/webapps">Office</a>.</iframe>


        </div>
        
    </div>

    <div class="row">
        <div class="col-md-6" style="margin: 1rem auto 0 auto;">
            <iframe src="https://onedrive.live.com/embed?cid=65AE39B50738D24F&amp;resid=65AE39B50738D24F%218433&amp;authkey=AHmwojiNVEssSHo&amp;em=2&amp;wdAr=1.7777777777777777" width="800px" height="565px" frameborder="2">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
             </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6" style="margin: 1rem auto 0 auto;">
            <div class="embed-responsive embed-responsive-4by3" style="text-align: center;margin: 0 auto;display: block;">
                <iframe src="https://drive.google.com/file/d/1YLrAY-XrZ83RtvLjW2fp3i8LX8j_cRaV/preview" width="640" height="480"></iframe>
              </div>
        </div>
    </div>
</div>

{% endblock %}